body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    height:  100%;
}

.col-cen{
    margin: 0 auto;
    float: none;
}

.ThumbContainer {
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.ThumbContainer img {
    width: inherit;
    height: inherit;
    object-fit: scale-down;
}

.well {
    background-image: -webkit-linear-gradient(top,#e8e8e888 0,#f5f5f588 100%);
    background-image: -o-linear-gradient(top,#e8e8e888 0,#f5f5f588 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e888),to(#f5f5f588));
    background-image: linear-gradient(to bottom,rgba(232,232,232,0.75) 0,rgba(245,245,245,0.75) 100%);
    background-color: initial;
}

.caption {
    position: absolute;
    top: 45%;
    left: 13%;
    width: 75%;
    font-weight:bold;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-brand {
    float: left;
    padding: 0 0 0 0;
    font-size: 18px;
    line-height: 20px;
    height: 100%;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
}

.media-left, .media>.pull-left {
    padding-right: 5px;
}

.media-heading {
    margin-left: 10px;
}

.modal-open {
    overflow: auto;
}

.wrapper {
    position:  relative;
    min-height: 100%;
}

.relative {
    position: relative;
}

.login-btn {
    margin-right:  10px;
}
.logout-btn {
    margin-right:  10px;
}

.main-container, .feature-imgs {
    padding-bottom: 60px;
}

.submit-btn {
    background: #FC7233;
    border: none;
}

.submit-btn:hover {
    background: #f7834f;
}

.footer {
    height: 100px;
    width: 100%;
    color: whitesmoke;
    background: #0066ccad;
    text-align: center;
}

.module1 {
    background: url('https://images.pexels.com/photos/924675/pexels-photo-924675.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 500px;
    background-size: cover;
}

.search-form h2 {
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

h1 { 
    text-align:center;
}

#slideshow-wrapper {

    height: 600px;
    margin:30px auto;
}

#slideshow {
    margin-bottom: 5px;
    height: 600px;
    overflow: hidden;
    white-space: nowrap;
}

#slideshow img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.circle {
    margin-right: 15px;
    display: inline-block;
    background-color: lightgrey;
    width: 12px;
    height: 12px;
    border-radius: 50px;
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], .loginmodal-container input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.logoutmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    padding: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.logoutmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
} 

.login-help{
    font-size: 12px;
}

.search-form  {
    background: #0066ccad;
    border-radius: 6px;
    padding: 50px;
    box-shadow: 0px 0px 6px #0066ccad;
    top: 25%;
    left: 20%;
    position: absolute;
    right: 20%;
    bottom: 25%;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

.font-weight-bold {
    font-weight:bold;
}
.panel-cart .form-group {
    margin-bottom: 0px;
}

label{
    margin-bottom: 15px;
}
.btn-success {
    padding: 0.5em 1em;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

.form-horizontal .form-group{
}

.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }


.__input-group-addon {
    text-align: left;
    min-width: 10em;
}

.w-50 {
    width: 50%!important;
}


.cards{
    padding-left:0;
    list-style: none;
}
.cards li {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    text-indent: -9999px;
    width: 51px;
}
.cards .mastercard {
    background-position: -51px 0;
}
.cards li {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    text-indent: -9999px;
    width: 51px;
}
.cards .amex {
    background-position: -102px 0;
}
.cards li {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    text-indent: -9999px;
    width: 51px;
}
.cards li:last-child {
    margin-right: 0;
}

.board .nav-tabs {
    position: relative;
    margin: 15px auto;
    margin-bottom: 0;
    border-bottom: 0;
    box-sizing: border-box;
}

.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li:after {
    content: " ";
    position: absolute;
    opacity: 0;
    margin: 0;
    margin-left: -10px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #aaa;
    transition: left 1s;
}

.nav-tabs > li.active:after {
    left: 50%;
    opacity: 1;
}

.nav-tabs > li a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    border: none;
    background: none;
        cursor: initial;
}

.nav-tabs > li a:hover {
    border: none;
    background: none;
}

.nav-tabs > li.active a, .nav-tabs > li.active a:hover {
    border: none;
    background: none;
}

.nav-tabs > li span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.nav-tabs > li:nth-of-type(1) span {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

.nav-tabs > li:nth-of-type(1).active span {
    color: #fff;
    background: #3e5e9a;
}

.nav-tabs > li:nth-of-type(2) span {
    color: #f1685e;
    border: 2px solid #f1685e;
}

.nav-tabs > li:nth-of-type(2).active span {
    color: #fff;
    background: #f1685e;
}

.nav-tabs > li:nth-of-type(4) span {
    color: #febe29;
    border: 2px solid #febe29;
}

.nav-tabs > li:nth-of-type(4).active span {
    color: #fff;
    background: #febe29;
}

.nav-tabs > li:nth-of-type(5) span {
    color: #25c225;
    border: 2px solid #25c225;
}

.nav-tabs > li:nth-of-type(5).active span {
    color: #fff;
    background: #25c225;
}

@media screen and (max-width: 768px){
    .nav-tabs > li a {
        width: 48px;
        height: 48px;
        line-height: 48px;
        margin: 10px auto;
        border-radius: 100%;
        padding: 0;
        border: none;
        background: none;
    }
    .nav-tabs > li span {
        width: 48px;
        height: 48px;
        line-height: 48px;
        display: inline-block;
        border-radius: 100%;
        background: white;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 16px;
    }
}